@charset "utf-8";
/* CSS Document */
body {
    background-image: url(../IMAGES/JUICES3.jpeg);
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
        
}

h1, h2, h3 {
    margin: @;
}
    
#container {
    width: 1366px;
    background-color: #efd6c3;
    height: 900px;
    margin-left: auto;
    margin-right: auto; 
}

.header {
    background-color: antiquewhite;
    width: 1366px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;  
}

.content {
    padding: 0;
}

.nav {
    width: 100%;
    background-color: coral;
    line-height: 35px;
    text-align: center;
    padding: 5px;
}

.nav a {
    display: block;
    color: cadetblue;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;   
}

.nav ul {
    float: left;
    list-style: none;
    position: relative;  
}
 
.nav ul li {
    float: left;
    list-style: none;
    position: relative; 
}

.nav ul li a {
    display: block;
    font-family: arial;
    color: #ffffff;
    font-size: 14px;
    padding: 24px 14px;
    text-decoration: none;
}

.nav ul li ul {
    display: none;
    position: absolute;
    background-color: coral;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: coral;
    padding: 10px;
    padding-right: 10px;
    border-radius: 0px 0px 8px 8px;  
}

.nav ul li ul li {
    padding: 8px 14px;
}

.nav ul li ul li a {
    color: #b6d6c7;
}

.nav ul li ul li a:hover {
    color: antiquewhite;
}



    



